/* الخلفية الفاتحة اللي في الصورة */
.main-wrapper {
  background-color: #fcfcfc; 
  min-height: 100vh;
  padding: 30px 60px;
}

/* رص الـ Logo والأيقونة بعيد عن بعض */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo-area { display: flex; align-items: center; gap: 10px; }
.main-logo { width: 40px; }
.brand-name { font-size: 1.5rem; color: #333; }
.brand-name span { color: #ff3b5c; font-weight: bold; }
.top-user-icon { width: 30px; opacity: 0.6; }

/* تنسيق منطقة الـ Login */
.login-box {
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
}

.title { font-size: 2.2rem; color: #222; margin-bottom: 5px; }
.subtitle { color: #999; margin-bottom: 30px; }
.hint { font-size: 0.9rem; color: #555; margin-bottom: 40px; }

/* الـ Inputs بالخط اللي تحت (زي الصورة) */
.input-container {
  text-align: left;
  margin-bottom: 30px;
  border-bottom: 2px solid #F89300; /* الخط اللي تحت */
  padding-bottom: 5px;
}

.input-container label {
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  color: #333;
}

.input-with-icon {
  display: flex;
  align-items: center;
}

.input-with-icon input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px 0;
  outline: none;
}

.field-icon { 
  width: 20px; 
  cursor: pointer; 
  opacity: 0.7; 
}
/* تنسيق السطر اللي شايل الـ Checkbox والنص */
.checkbox-row {
  display: flex;
  align-items: center; /* بيخلي النص والـ checkbox على خط واحد */
  gap: 12px;           /* المسافة بين المربع وكلمة Remember me */
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: left;    /* عشان يجي على الشمال زي الصورة */
}

/* تنسيق الـ Checkbox نفسه */
.checkbox-row input[type="checkbox"] {
  /* تغيير اللون الأساسي للبرتقالي */
  accent-color: #f7941d; 
  
  /* تكبير الحجم عشان يبقى واضح زي الصورة */
  width: 20px;
  height: 20px;
  
  cursor: pointer;
  border-radius: 4px; /* انحناء خفيف في الزوايا */
}

/* تنسيق النص "Remember me" */
.checkbox-row label {
  font-size: 0.95rem;
  color: #444;       /* لون رمادي غامق هادئ */
  cursor: pointer;   /* عشان لما تضغطي على الكلمة يعمل Check */
  font-weight: 500;
  user-select: none; /* بيمنع تحديد النص بالخطأ لما نضغط كتير */
}

/* الزرار المستدير (Pill Button) */
.submit-btn {
  background: white;
  color: #ff3b5c;
  border: 1px solid #f0f0f0;
  padding: 18px 100px;
  border-radius: 50px;
  font-weight: 600;
  box-shadow: 0 10px 20px white;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover { 
  background: #F89300; 
  color: white; 
}